[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
python-dotenv = "*"
pytest = "*"
pillow = "*"
flask-cors = "*"
flask-api = "*"

[dev-packages]

[requires]
python_version = "3.7"
